.education{
  max-width: 1220px;
  margin: 20vh auto;
  padding: 0 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 80px;
}



.education h1{

  font-size: 60px;
}

@media (max-width: 480px){
  .education h1{

    font-size: 30px;
  }
}
